In [19]:
import warnings
warnings.filterwarnings("ignore")

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [20]:
df = pd.read_csv("UCI_Credit_Card.csv")
df.head(3)

   ID  LIMIT_BAL  SEX  EDUCATION  MARRIAGE  AGE  PAY_0  PAY_2  ...  BILL_AMT6  PAY_AMT1  PAY_AMT2  PAY_AMT3  PAY_AMT4  PAY_AMT5  PAY_AMT6  default.payment.next.month
0   1    20000.0    2          2         1   24      2      2  ...        0.0       0.0     689.0       0.0       0.0       0.0       0.0                           1
1   2   120000.0    2          2         2   26     -1      2  ...     3261.0       0.0    1000.0    1000.0    1000.0       0.0    2000.0                           1
2   3    90000.0    2          2         2   34      0      0  ...    15549.0    1518.0    1500.0    1000.0    1000.0    1000.0    5000.0                           0

[3 rows x 25 columns]

In [21]:
df = df.drop('ID',axis=1)

In [22]:
y = df["default.payment.next.month"]
x = df.drop("default.payment.next.month",axis=1)

In [23]:
x_train,x_test,y_train,y_test = train_test_split(x,y,train_size=0.77,random_state=6)

In [24]:
log = LogisticRegression()
model = log.fit(x_train,y_train)

In [25]:
model.score(x_test,y_test)

0.7739130434782608

In [34]:
denemex = np.array(x.iloc[1903]) # 1903. satırdaki kişiyi alıyoruz ve np.array ile dönüşüm yapıyoruz

In [35]:
model.predict([denemex])

array([0])

In [36]:
y.iloc[1903] # Logistic Regresyon bir sınıflandırma çeşididir 1 veya 0 olarak sınıflandırır.

np.int64(0)