In [148]:
# MSE RMSE MAE MAPE

In [174]:
import warnings
warnings.filterwarnings('ignore')

import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error,mean_absolute_error,mean_absolute_percentage_error # Bu çalışmanın ana konusu 
# Aşağıdaki error işlemlerini basit bir şekilde yapmamıza yarıyor

In [175]:
df = pd.read_csv("insurance.csv")

In [176]:
df.head(2)

   age     sex    bmi  children smoker     region     charges
0   19  female  27.90         0    yes  southwest  16884.9240
1   18    male  33.77         1     no  southeast   1725.5523

In [177]:
df = pd.get_dummies(df,columns=['sex','smoker','region'],drop_first=True) # Kategorisel değerleri numerice çevirdik

In [178]:
df.head(2)

,age,bmi,children,charges,sex_male,smoker_yes,region_northwest,region_southeast,region_southwest
0,19,27.90,0,16884.9240,False,True,False,False,True
1,18,33.77,1,1725.5523,True,False,False,True,False

In [179]:
y = df['charges']

In [180]:
x = df.drop(columns=['charges'],axis=1)

In [181]:
lm = LinearRegression()
model = lm.fit(x,y)

In [182]:
x_train,x_test,y_train,y_test = train_test_split(x,y,train_size=0.7,random_state=20)
lm2 = LinearRegression()
model2 = lm2.fit(x_train,y_train)

In [183]:
model.score(x,y)

0.7509130345985207

In [184]:
model2.score(x_test,y_test)

0.7715598274568836

In [185]:
df_hata = pd.DataFrame()
df_hata['y'] = y

In [186]:
df_hata.head(5)

             y
0  16884.92400
1   1725.55230
2   4449.46200
3  21984.47061
4   3866.85520

In [187]:
df_hata['tahmin'] = model.predict(x)

In [188]:
df_hata.head(3) # Gerçek değerler ile tahmini değerleri tabloya kaydettik

            y        tahmin
0  16884.9240  25293.713028
1   1725.5523   3448.602834
2   4449.4620   6706.988491

In [189]:
df_hata['error'] = df_hata['y'] - df_hata['tahmin']

In [190]:
df_hata.head(5)

             y        tahmin         error
0  16884.92400  25293.713028  -8408.789028
1   1725.55230   3448.602834  -1723.050534
2   4449.46200   6706.988491  -2257.526491
3  21984.47061   3754.830163  18229.640447
4   3866.85520   5592.493386  -1725.638186

In [191]:
df_hata['squared_error'] = df_hata['error']**2

In [192]:
df_hata['abs_error'] = np.abs(df_hata['error'])

In [193]:
df_hata.head(5)

             y        tahmin         error  squared_error     abs_error
0  16884.92400  25293.713028  -8408.789028   7.070773e+07   8408.789028
1   1725.55230   3448.602834  -1723.050534   2.968903e+06   1723.050534
2   4449.46200   6706.988491  -2257.526491   5.096426e+06   2257.526491
3  21984.47061   3754.830163  18229.640447   3.323198e+08  18229.640447
4   3866.85520   5592.493386  -1725.638186   2.977827e+06   1725.638186

In [194]:
df_hata['percent_error'] = np.abs((df_hata['y']-df_hata['tahmin'])/df_hata['y'])

In [195]:
df_hata.mean()

y                1.327042e+04
tahmin           1.327042e+04
error           -1.446491e-12
squared_error    3.650189e+07
abs_error        4.170887e+03
percent_error    4.203527e-01
dtype: float64

In [197]:
mean_squared_error(df_hata['y'],df_hata['tahmin']) # karesinin alındığı error

36501893.00741544

In [198]:
mean_absolute_error(df_hata['y'],df_hata['tahmin']) # Mutlak değerinin alındığı error

4170.8868941635865

In [199]:
mean_absolute_percentage_error(df_hata['y'],df_hata['tahmin']) # Yüzdeliğinin alındığı error

0.4203526847372705